<a href="https://colab.research.google.com/github/sharma1saransh/python/blob/main/factandfib.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def fact(n):
 if(n==0 or n==1):
   return 1
 else:
  a=1
  for i in range(2,n+1):
    a=a*i
  print("the factorial for", n, "is : ", a)
fact(7)

the factorial for 7 is :  5040

In [ ]:
def fib(n):
  a=0
  b=1
  for i in range(2,n+1):
      c=a+b
      a=b
      b=c
      print(c)
fib(13)

1
2
3
5
8
13
21
34
55
89
144
233